# distribution
build/
dist/
lib/
lib64/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg

# environment
.venv/
venv/

# PEP 582
__pypackages__/

# pycache
__pycache__/
*.py[cod]
*$py.class

# pyCharm project
.idea/

# pytest cache
.pytest_cache/

# pytest coverage
.coverage

# ruff cache
.ruff_cache/

# sphinx autosummary
docs/source/_autosummary/

# tox cache
.tox/
